<div class="card col-md-4 offset-4 mt-4">
  <div class="card-body">
    <h1 class="h1 text-center">Register</h1>
    <form action="" method="get" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label for="username">Username</label>
        <input
        ngModel type="text" class="form-control"
         name="username" id="username" required />
      </div>
      <div class="form-group">
          <label for="password">password</label>
          <input
          ngModel
          type="password" name="password"
          id="password"
          class="form-control" required />
        </div>
        <div class="form-group">
            <label for="phonenumber">Phonenumber</label>
            <input
            ngModel
            type="text" name="phonenumber"
            id="phonenumber"
            class="form-control" required />
          </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success float-right" value="Register">
        </div>
    </form>
  </div>
</div>

